<div fxFlex fxLayoutAlign="center center">
  <mat-card fxFlex fxLayout="column" class="calculator-size mat-elevation-z8">
    <mat-card-header *ngIf="showNeverSettle == false" class="card-header-layout" fxLayoutAlign="end end">
      <mat-card-title class="display-digits">{{digit}}</mat-card-title>
      <mat-card-subtitle class="display-result">{{result}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header *ngIf="showNeverSettle == true" class="show-never-settle" fxLayoutAlign="end end">

    </mat-card-header>
    <mat-card-content fxFlex fxLayout="row" class="card-buttons-operation-layout">
      <div fxFlex="75%" class="display-numbers">
        <mat-grid-list cols="3" rowHeight="1:1" class="grid-for-numbers">
          <mat-grid-tile (click)="pushDigit(7)">7</mat-grid-tile>
          <mat-grid-tile (click)="pushDigit(8)">8</mat-grid-tile>
          <mat-grid-tile (click)="pushDigit(9)">9</mat-grid-tile>
          <mat-grid-tile (click)="pushDigit(4)">4</mat-grid-tile>
          <mat-grid-tile (click)="pushDigit(5)">5</mat-grid-tile>
          <mat-grid-tile (click)="pushDigit(6)">6</mat-grid-tile>
          <mat-grid-tile (click)="pushDigit(1)">1</mat-grid-tile>
          <mat-grid-tile (click)="pushDigit(2)">2</mat-grid-tile>
          <mat-grid-tile (click)="pushDigit(3)">3</mat-grid-tile>
          <mat-grid-tile (click)="pushDot()">.</mat-grid-tile>
          <mat-grid-tile (click)="pushDigit(0)">0</mat-grid-tile>
          <mat-grid-tile (click)="deleteLastDigit()" style="font-size: 20px">DEL</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div fxFlex="20%" class="display-operations">
        <mat-grid-list cols="1" rowHeight="1:1" class="grid-for-numbers">

          <mat-grid-tile (click)="pushSymbol('/')">/</mat-grid-tile>
          <mat-grid-tile (click)="pushSymbol('x')">x</mat-grid-tile>
          <mat-grid-tile (click)="pushSymbol('-')">-</mat-grid-tile>
          <mat-grid-tile (click)="pushSymbol('+')">+</mat-grid-tile>
          <mat-grid-tile (click)="showResults()">=</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div fxFlex="5%" class="yellow-patch">

      </div>
    </mat-card-content>
  </mat-card>
</div>
