.calculator-size {
  height: 701px;
  max-width: 390px;
  padding:0;
  margin:0;
}

.card-header-layout {
  height: 260px;
  width: 390px;
  background-color: #000;
  color: #ECECEC;
}

.card-buttons-operation-layout {
  max-height: 441px;
  color: white;
  width: 390px;
  background-color: grey;
}

.display-digits {
  font-size: 65px;
  font-weight: 100;
}

.display-result {
  font-size: 35px;
  float: right;
  font-weight: 100;
  color: #CFCFCF;
}

.display-numbers {
  background-color: #2A2A2A;
  font-size: 35px;
  font-weight: 100;
}

.display-operations {
  background-color: #505050;
  font-size: 35px;
  font-weight: 100;
}

.yellow-patch {
  width: 25px;
  background-color: orange;
}

.grid-for-numbers {
  padding-top: 25px;
}

.mat-grid-tile:active {
  background-color: #5A5A5A;
  border-radius: 50px;
  cursor: pointer;
}

.mat-grid-tile:hover {
  cursor: pointer;
}

