<div fxFlex fxLayoutAlign="center center">
  <mat-card fxFlex fxLayout="column" class="calculator-size mat-elevation-z8">
    <mat-card-header class="card-header-layout" fxLayoutAlign="end end">
      <mat-card-title class="display-digits">1234</mat-card-title>
      <mat-card-subtitle class="display-result">1234</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxFlex fxLayout="row" class="card-buttons-operation-layout">
      <div fxFlex="75%" class="display-numbers">

      </div>
      <div fxFlex="20%" class="display-operations">

      </div>
      <div fxFlex="5%" class="yellow-patch">

      </div>
    </mat-card-content>
  </mat-card>
</div>
