<div fxFlex fxLayoutAlign="center center">
  <mat-card fxFlex fxLayout="column" class="calculator-size mat-elevation-z8">
    <mat-card-header class="card-header-layout" fxLayoutAlign="end end">
      <mat-card-title class="display-digits">1234</mat-card-title>
      <mat-card-subtitle class="display-result">1234</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxFlex fxLayout="row" class="card-buttons-operation-layout">
      <div fxFlex="75%" class="display-numbers">
        <mat-grid-list cols="3" rowHeight="1:1" class="grid-for-numbers">
          <mat-grid-tile>7</mat-grid-tile>
          <mat-grid-tile>8</mat-grid-tile>
          <mat-grid-tile>9</mat-grid-tile>
          <mat-grid-tile>4</mat-grid-tile>
          <mat-grid-tile>5</mat-grid-tile>
          <mat-grid-tile>6</mat-grid-tile>
          <mat-grid-tile>1</mat-grid-tile>
          <mat-grid-tile>2</mat-grid-tile>
          <mat-grid-tile>3</mat-grid-tile>
          <mat-grid-tile>.</mat-grid-tile>
          <mat-grid-tile>0</mat-grid-tile>
          <mat-grid-tile style="font-size: 20px">DEL</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div fxFlex="20%" class="display-operations">
        <mat-grid-list cols="1" rowHeight="1:1" class="grid-for-numbers">

          <mat-grid-tile>/</mat-grid-tile>
          <mat-grid-tile>x</mat-grid-tile>
          <mat-grid-tile>-</mat-grid-tile>
          <mat-grid-tile>+</mat-grid-tile>
          <mat-grid-tile>=</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div fxFlex="5%" class="yellow-patch">

      </div>
    </mat-card-content>
  </mat-card>
</div>
